/* GLOBAL STYLES
-------------------------------------------- */
/*
  https://www.paulirish.com/2012/box-sizing-border-box-ftw/
*/
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    height: 100%;
}
body {
    background: #f6f6f6;
    margin: 0;
}

/* HEADER
-------------------------------------------- */

/* MAIN
-------------------------------------------- */

/* FOOTER
-------------------------------------------- */